body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-weight: 400;
  size: 100%;
}

button {
  font-size: 100%;
  color: hsl(189, 41%, 97%);
  font-weight: 600;
  border-radius: 10px;
  border: solid 4px white;
  padding: 8px;
  background-color: hsl(183, 100%, 15%);
}

.custom {
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);

}

input[type="text"] {
  padding: 7px;
  direction: rtl;
  border: none;
  background-color: hsl(189, 41%, 97%);
}

label {
  font-size: 1rem;
  color: hsl(184, 14%, 56%);
  font-weight: 700;
  margin-bottom: 5px;
}

.main {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
}

.numOfPeople {
  background: url(../images/icon-person.svg) no-repeat scroll 7px 7px;
  padding-left: 30px;
}

.bill {
  background: url(../images/icon-dollar.svg) no-repeat scroll 7px 7px;
  padding-left: 30px;
}

.tip-total {
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 2rem;
}

h2 {
  color: hsl(189, 41%, 97%);
  font-size: 1rem;
  margin: 1rem 0 0;

}

p {
  color: hsl(184, 14%, 56%);
  font-size: 0.8rem;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 540px){
    .main {
        width: 50vw;
    }
} 